.x-form-trigger.x-form-trigger-fa {
    background-image: url(../../ext/classic/theme-classic/resources/images/form/trigger-tpl.gif);
    font: 10px/20px FontAwesome;
    font-weight: bolder;
    color: #5791be;
}