<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener" level="debug"/>
    <!--<logger name="com.zaxxer" level="debug"/>-->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"
            level="debug"/>
    <!--<logger name="ru.vsrf.sdd" level="debug"/>-->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>